
.TableContainer {
  /* display: block; */
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  border-bottom: 1px solid #34495E;
}

.TablaSocios {
  min-width: 30rem;
  font-family: 'Arquitecta';
  color: #34495E;
}

.TablaSocios tbody tr:nth-child(odd) {
  background: #dddedf;
}

.TablaSocios th {
  border-top: 1px solid #34495E;
  border-bottom: 1px solid #34495E;
  padding: .5rem;
}

.SearchHeader {
  border-bottom: none;
}

.SearchHeader span {
  font-size: 1.4em;
  font-weight: bold;
  border: 1px solid #34495E;
  border-radius: .5rem;
  padding: 0 1rem;
  display: flex;
}

.SearchHeader span input {
  padding-left: 1rem;
}

.TablaSocios td {
  padding: .5rem .8rem;
  font-size: .9em

}

.TablaSocios tbody tr:hover {
  border: 2px solid #21a75a; /* TODO: ??? */
  background-color: #BBC392;
  cursor: pointer;
}

.Switch {
  position: relative;
  display: flex;
  width: 3.8rem;
  height: 2rem;
}

.Switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The RoundSlider */
.RoundSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 2rem;
}

.RoundSlider:before {
  position: absolute;
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  left: .3rem;
  bottom: .3rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .RoundSlider {
  background-color: #1f5179;
}

input:focus + .RoundSlider {
  box-shadow: 0 0 1px #1f5179;
}

input:checked + .RoundSlider:before {
  -webkit-transform: translateX(1.5rem);
  -ms-transform: translateX(1.5rem);
  transform: translateX(1.5rem);
}


.AC {
  background-color: #2bc71b;
  border-radius: .4rem;
  font-size: 0;
}

.BA {
  background-color: #ec573c;
  border-radius: .4rem;
  font-size: 0;
}

.NP {
  background-color: #868a86;
  border-radius: .4rem;
  font-size: 0;
}

.Blue {
  background-color: #31489a;
  border-radius: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.Yellow {
  background-color: #d1df2c;
  border-radius: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.Pagination {
  padding: 0.5rem;
  font-family: 'Arquitecta';
  color: #34495E;
}
