.Inputs {
  border: 1px solid #ccc;
  padding: 0;
  display: flex;
}

.SearchButton {
  height: 4rem;
}

.TableContainer {
  height: 60vh;
  overflow-y:scroll;
  border: .3rem solid #243746;
  border-radius: .5rem;
}

.Form {
  overflow-y:scroll;
  height: 60vh;
}

.noScroll {
  /* overflow-y:scroll; */
}

.SupportData p {
  font-size: .8em;
  padding: 0 6rem;
  font-family: 'Arquitecta';
}

.ToggleContainer {
  display: flex;
  justify-content: center;
}

.Aportacion {
  width: 20%;
  padding: .7rem 4rem;
  border-radius: 1rem 0 0 0;
  text-align: center;
}

.Aportacion p {
  font-family: 'Arquitecta';
  font-size: 1.5em;
  margin: 0;
}

.AportacionActive {
  background-color: #243746;
  color: white;
  text-decoration: underline;
}

.AportacionInactive {
  border-top: 2px solid #243746;
  border-left: 2px solid #243746;
  color: gray;
  cursor: pointer;
}

.AportacionInactive:hover {
  color: #243746;
  text-decoration: underline;
}

.Retiro {
  width: 20%;
  padding: .7rem 4rem;
  border-radius: 0 1rem 0 0;
  text-align: center;
}

.Retiro p {
  font-family: 'Arquitecta';
  font-size: 1.5em;
  margin: 0;
}

.RetiroInactive {
  border-top: 2px solid #b45050;
  border-right: 2px solid #b45050;
  color: gray;
  cursor: pointer;
}

.RetiroInactive:hover {
  color: #b45050;
  text-decoration: underline;
}

.RetiroActive {
  background-color: #b45050;
  color: white;
  text-decoration: underline;
}

.RetiroDisabled {
  display: none;
}
