.NavigationItems {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.NavigationItem {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  /* el center es por el flex */
  align-items: center;
  font-size: 1.1em;
  color: white;
}

.NavigationItem a {
  height: 100%;
  padding: .5rem 2rem;
  margin: .5rem 0rem;
  text-decoration: none;
  color: white;
}

.NavigationItem a:hover {
  font-weight: bold;
}

.NavigationItem a.active {
  color: #243746;
  text-decoration: underline;
  width: 100%;
  font-weight: bold;
  background-color: gray;
  border-left: .8rem solid #BBC392;
}


@media (min-width: 62em) {
  .NavigationItems {
    /* list-style: none;
    margin: 0;
    padding: 0;
    flex-flow: row;
    align-items: center;
    height: 100%; */
  }

  .NavigationItem {
    /* font-size: 1em;
    color: white; */
  }

  .NavigationItem a {
    /* padding: 0rem 1rem; */
  }

  .NavigationItem a.active {
    /* font-weight: bold;
    text-decoration: underline; */
  }

  .NavigationItem a:hover {
    /* font-weight: normal;
    color: green; */
  }
}


@media (max-width: 61.99em) {
    .DesktopOnly {
        display: none;
    }
}
