.Container {
  background-color: #fff;
  padding: .7rem;
  margin: 0;
  min-width: 50rem;
  &_Section {
    border-bottom: 1px solid #ccc;
  }
}

.StatusContainer {
  width: 5em;
  font-size: .7em;
  margin: 2rem;
}
