.CardsContainer {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  align-items: stretch;
  justify-content: space-around;
  align-content: space-around;
}

.CardsContainer > div {
  width: 95%;
}

.Inputs {
  display: flex;
  flex-direction: column;
}

.Container {
  background-color: #f6fcf9;
  padding: 2rem;
  border-radius: .5rem;
}

.ContentContainer {
  background-color: #fff;
  border: .1rem solid #243746;
  padding: .7rem;
  overflow-y:scroll;
  height: 50vh;
  min-height: 40rem;
}


.XLSButton button {
  font-family: 'Libre Baskerville';
  background-color: #243746;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: .8em;
  margin: 0rem 0rem;
  cursor: pointer;
  padding: .2rem 1rem;
}

.XLSButton button:hover {
  background: #1e5785;
}

@media (min-width: 62em) {
  .CardsContainer {
    grid-template-columns: 40% 60%;
  }
  .longCard {
    grid-column-end: span 2;
  }
}
