.Inputs {
  border: 1px solid #ccc;
  padding: 0;
  display: flex;
}

.Form {

}

.TabsInput {
  overflow-y:scroll;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TabsInput ol {
  margin: 0;
}
