.Container {
  background-color: #f6fcf9;
  padding: 2rem;
  border-radius: .5rem;
}

.InfoContainer {
  height: 70vh;
  overflow-y:scroll;
  border: .1rem solid #243746;
}

.Table {
  display: flex;
  flex-direction: column;
}

.CellStatus {
  color: white;
  padding: .5rem .7rem;
  border-radius: .3rem;
}

.PA {
  background-color: #235ee4;
}

.VE {
  background-color: #c23f3f;
}

.VI {
  background-color: #2bc71b;
}

.DP {
  background-color: #868a86;
}

.ContentContainer {
  display: flex;
  align-items: center;
}

.StatusContainer {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.SubStatusContainer {
  display: flex;
  flex-direction: column;
}

.SubStatusContainer p {
  margin: .4rem;
}

.StatusDetail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.ButtonGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.ButtonGroup button {
  flex-grow: 1;
}
