.Container {
  background-color: #f6fcf9;
  padding: 2rem;
  border-radius: .5rem;
}

.InfoContainer {
  height: 70vh;
  overflow-y:scroll;
  border: .1rem solid #243746;
}

.Table {
  display: flex;
  flex-direction: column;
}

.CellStatus {
  color: white;
  padding: .5rem .7rem;
  border-radius: .3rem;
}

.PA {
  background-color: #235ee4;
}

.VE {
  background-color: #c23f3f;
}

.VI {
  background-color: #2bc71b;
}

.DP {
  background-color: #868a86;
}

.CO {
  background-color: #2bc71b;
}

.PC {
  background-color: #d1df2c;
}

.CA {
  background-color: #868a86;
}

.ContentContainer {
  display: flex;
  align-items: center;
}

.StatusContainer {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.StatusDataContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.StatusDataContainer p {
  margin: .4rem;
}

.StatusDetail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.ButtonGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.ButtonGroup button {
  flex-grow: 1;
}

.XLSContainer {
  display: inline-flex;
  align-items: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 0 1rem;
}

.XLSContainer > * {
  margin-right: 1rem;
}

.XLSContainer > p {
  font-size: .7em;
}
