.Container {
  background-color: #f6fcf9;
  padding: 2rem;
  border-radius: .5rem;
}

.Table {
  display: flex;
  flex-direction: column;
}

.XLSContainer {
  display: inline-flex;
  align-items: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 0 1rem;
}

.XLSContainer > * {
  margin-right: 1rem;
}

.XLSContainer > p {
  font-size: .7em;
}
