.Container {
  /* bottom: 60vh; */
  background-color: #fff;
  padding: .7rem;
  margin: 0;
  min-width: 50rem;
}

.Title h2 {
  text-align: center;
}

.SubSection {
  border-bottom: 1px solid #ccc;
}

.SubTitle h3 {
  margin-left: 2rem;
}

.TableGraph {
  display: flex;
  flex-direction: column;
}

@media print {
  .TableGraph {
    flex-direction: row;
  }
}
