.Form {
  height: 60vh;
  overflow-y:scroll;
  border: .3rem solid #243746;
  border-radius: .5rem;
}

.Inputs {
  border: 1px solid #ccc;
  padding: 0;
  display: flex;
}

.SupportData {
  width: 30%;
  font-family: 'Arquitecta';
  display: flex;
  justify-content: center;
  text-align: center;
}

.SupportData p {
 padding-right: 2rem;
}
