.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 2rem;
}

.Header h1 {
  font-family: 'Arquitecta';
  padding-left: 2rem;
  margin-left: 5rem;
}

.Inputs {
  border: 1px solid #ccc;
  padding: 0;
  display: flex;
}

.SearchButton {
  height: 4rem;
}

.TableContainer {
  height: 60vh;
  overflow-y:scroll;
  border: .3rem solid #243746;
  border-radius: .5rem;
}

.Form {
  overflow-y:scroll;
  height: 60vh;
}

.noScroll {
  /* overflow-y:scroll; */
}

.SupportData p {
  font-size: .8em;
  padding: 0 6rem;
  font-family: 'Arquitecta';
}
