@import 'styles/general';

.CardsContainer {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  align-items: stretch;
  justify-content: space-around;
  align-content: space-around;
  &> div {
    width: 95%;
  }

  @include desktop {
    grid-template-columns: 40% 60%;
  }
}

.Inputs {
  display: flex;
  flex-direction: column;
}

@include desktop {
  .longCard {
    grid-column-end: span 2;
  }
}
