.Paragraph {
  padding: 4rem 4rem;
}

.Paragraph h3 {
  text-align: center;
}

.Paragraph p {
  margin-top: 5rem;
  text-align: justify;
}

@media (min-width: 42em) {
  .Paragraph {
    padding: 7rem 15rem;
  }
}
