.Container {
  background-color: #f6fcf9;
  padding: 2rem;
  border-radius: .5rem;
}

.InfoContainer {
  height: 70vh;
  overflow-y:scroll;
  border: .1rem solid #243746;
}

.ToggleContainer {
  display: inline-flex;
  align-items: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 0 1rem;
}

.ToggleContainer > * {
  margin-right: 1rem;
}

.ToggleContainer > p {
  font-size: .7em;
}
