.Toolbar {
    height: 72px;   /* TODO: ajustar a erm? o viewport with media query? */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #BBC392;
    display: flex;
    justify-content: space-between;
    padding: 0;
    box-sizing: border-box;
}

.DesktopOnly {
    display: flex;
    align-items: center;
}

.Logo {
    height: 100%;  /* sin este, se extiende el logo width:100%??*/
}

@media (min-width: 500px) {

}


@media (max-width: 499px) {
    .DesktopOnly {
      display: none;
    }
}
