$pr-dark-blue: #243746;
$pr-light-pink: #D5B49E;
$pr-light-green: #BBC392;
$pr-light-purple: #ac92c3;
$pr-cyan: #92c3c0;

$sec-darkish-blue: #34495E;
$sec-green: #21a75a;


$sec-light-gray: #dddedf;
$sec-light-red: #ec573c;

$red: #c23f3f;
$gray: #868a86;
$blue: #31489a;

$strong-purple: #5056ac;
$intense-blue: #235ee4;
$intense-green: #2bc71b;
$intense-yellow: #d1df2c;
