.Container {
  /* bottom: 60vh; */
  background-color: #fff;
  padding: .7rem;
  margin: 1rem;
}

.Title h2 {
  text-align: center;
}

.SubSection {
  border-bottom: 1px solid #ccc;
}

.SubTitle h3 {
  margin-left: 2rem;
}

.Comment {
  display: flex;
}

.Comment p {
  font-family: 'Arquitecta';
}

.Label {
  display: flex;
  flex-direction: column-reverse;
}

.ChatContainer {
  background-color: #92c3c0;
  border-radius: 1rem 1rem 1rem 0;
  padding: 1rem 1.5rem;
  color: white;
  margin-bottom: 3rem;
  min-width: 40%;
  margin-left: .5rem;
}

.ChatContainer p {
  margin: auto;
}

.ChatDate p {
  font-size: .7em;
  text-align: right;
  margin: 0;
}
