.Button {
    background-color: #D5B49E;
    border: .2rem solid white;
    border-radius: .4rem;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 1rem 2rem;
    margin: 1rem;
    font-weight: bold;
}

.Button:hover {
  border: .2rem solid #5e86e0;
  font-weight: normal;
  color: #5e86e0;
  background-color: white;
  font-weight: bold;
}

.Button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.Success {
  background-color: #8BA5E0;
}

.Danger {
  /*TODO*/
}
