.Inputs {
  border: 1px solid #ccc;
  padding: 0;
  display: flex;
}

.SupportData {
  width: 40%;
}

.FormDetailContainer {
  display: flex;
  flex-direction: column;
}

.DetailContainer {
  border: 1px solid #ccc;
}

@media (min-width: 62em) {
  .FormDetailContainer {
    flex-direction: row;
  }
  .DetailContainer {
    width: 50%;
    overflow-x:scroll;
    margin-left:1rem;
  }
}
