@import 'styles/general';

.CardsContainer {
  display: grid;
  grid-template-columns: auto;
  @include tablet {
    grid-template-columns: 50% 50%;
  }
}

.Mapa {
  grid-column-end: span 2;
}

.CalContainer {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.CalContainer iframe,
.Calendario object,
.Calendario embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
