.AllGraphs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
  border: 1px solid #dddedf;
  border-radius: .5rem;
  background-color: #f6fcf9;
  margin: 2rem;
}

.Table {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid #dddedf;
  border-radius: .5rem;
  background-color: #f6fcf9;
  margin: 2rem;
}
