.Input {
  font-family: 'Arquitecta';
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  width: 20%;
  margin-bottom: .8rem;
  text-align: center;
  padding-right: 1rem;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 0px;
    display: block;
    width: 100%;
    border-radius: .3rem;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.Invalid {
    border: 1px solid red;
    background-color: #FDA49A;
}

.InvalidMessage {
    font-size: .5rem
}
