.Input {
  font-family: 'Arquitecta';
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.Label {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  width: 30%;
  max-width: 12rem;
  text-align: right;
  margin-right: 1rem;
  border-right: 1px dashed #dddedf;
  padding:0 2rem;
}

.InputElement {
    outline: none;
    border: 2px solid #dddedf;
    background-color: #dddedf;
    font: inherit;
    padding: .5rem .5rem;
    display: block;
    width: 100%;
    border-radius: .3rem;
    margin: 1rem 0rem;
    margin-right: 1rem;
}

.InputElement:focus {
    outline: none;
    background-color: white;
}

.InputElement:disabled {
  border: none;
  font-size: default;
  color: black;
  background-color: white;
}

.Invalid {
    border: 1px solid red;
    background-color: #FDA49A;
}

.InvalidMessage {
    font-size: .5rem
}

.HideMe {
  display: none;
}

.InvalidMessage {
  color: red;
  font-size: 1em
}
