.NavigationItems {
  display: flex;
  flex-flow: column;
  align-items:flex-start;
}

.NavigationItem {
  display: flex;
  width: auto;
  padding-right: 1rem;
  /* el center es por el flex */
  align-items: center;
  font-size: 1.5em;
}

.NavigationItem a {
  height: 100%;
  padding: 2rem 0;
  text-decoration: none;
  color: #243746;
}

.NavigationItem a:hover {
  font-weight: bold;
}

@media (min-width: 500px) {
  .NavigationItems {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-flow: row;
    align-items: center;
    height: 100%;
  }

  .NavigationItem a {
    padding: 0rem 1rem;
  }

  .NavigationItem a.active {
    font-weight: bold;
    text-decoration: underline;
  }

  .NavigationItem a:hover {
    font-weight: normal;
    color: white;
  }
}


@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}
