.HeaderContainer {
  margin-top: 0rem;
}

.HeaderContainer h1 {
  font-family: 'Arquitecta';
  padding-left: 2rem;
  margin-left: 5rem;
  font-size: 3em;
}

@media (min-width: 62em) {
  .HeaderContainer h1 {
    margin-left: 0rem;
  }
}

@media (min-width: 42em) {
  .HeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
