.ForecastContainer {
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  justify-content: space-between;
}

.CardContainer {

  font-size: .5em;

  display: grid;
  grid-template-rows: 15% 45% 20% 10%;
  align-content: space-between;
  align-items: center;

  background-color: #fcfefd;
  border: 1px solid #e5ede9;
  border-radius: .2rem;
  padding: .8rem .4rem;
}

.Text {
  text-align: center;
}
