html {
  font-size: 62.5%;  /*if dflt 16px 1rem == 10px*/
  margin: 0;
  color: #243746;
  font-family: 'Libre Baskerville', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 1.6em;
}

/* TODO: check! */
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
