.Container {
  background-color: #f6fcf9;
  padding: 2rem;
  border-radius: .5rem;
  max-height: 90vh;
  overflow-y:scroll;
}

.ContentContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ContratoContainer {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.ContratoDetail {
  min-height: 15rem;
  height: 50vh;
  overflow-y:scroll;
  border: .1rem solid #243746;
}

.PaymentContainer {
  margin-top: 1rem;
  max-height: 20vh;
  overflow-y:scroll;
  border: .1rem solid #243746;
  background-color: #fff;
}

.StatusContainer {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.StatusDataContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.StatusDataContainer p {
  margin: .4rem;
  font-size: .8em;
}

.StatusDetail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: .7em;
}

.StatusDetail div {
  margin-bottom: .3rem;
}

.ButtonGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.ButtonGroup button {
  flex-grow: 1;
}

@media (min-width: 42em) {
  .ContentContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .ContratoContainer {
    width: 95%;
  }
  .ContratoDetail {
    height: 40vh;
    overflow-y:scroll;
    border: .1rem solid #243746;
  }
  .Container {
    background-color: #f6fcf9;
    padding: 2rem;
    border-radius: .5rem;
  }
}
