.FormsContainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.Form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Form div {
  border: none;
}

.SocioName {
  font-size: 1.6em;
}

.ResultsContainer {
  margin-top: 2rem;
  padding: 3rem;
  border: 1px solid #dddedf;
  border-radius: .5rem;
  border-radius: .5rem;
  background-color: #f6fcf9;
}

.ResultsContainer p {
  font-family: 'Arquitecta';
}

.Inputs {
  border: 1px solid #ccc;
  padding: 0;
  display: flex;
}

.TableContainer {
  height: 60vh;
  overflow-y:scroll;
  border: .3rem solid #243746;
  border-radius: .5rem;
}

@media (min-width: 42em) {
  .Form {
    flex-direction: row;
  }
}
