.Container {
  padding: 2rem;
}

.Form {
  display: flex;
  flex-direction: column;
}

.Form button {
  align-self: center;
}

.Table {
  display: flex;
  flex-direction: column;
}

.Container {
  background-color: #f6fcf9;
  padding: 2rem;
  border-radius: .5rem;
}

.ContentContainer {
  background-color: #fff;
  border: .1rem solid #243746;
  padding: .7rem;
  overflow-y:scroll;
  height: 50vh;
  min-height: 40rem;
}
