.Container h1 {
  font-family: 'Arquitecta';
  padding-left: 2rem;
}

.TablaSocios {
  min-width: 30rem;
  background: ;
  font-family: 'Arquitecta';
  color: #34495E;
}

.TablaSocios tbody tr:nth-child(odd) {
  background: #dddedf;
}

.TablaSocios th {
  border-bottom: 1px solid #34495E;
  padding: .5rem;
}

.TablaSocios td {
  padding: .5rem 2rem;
}

.TablaSocios tbody tr:hover {
  border: 2px solid #21a75a; /* TODO: ??? */
  background-color: #BBC392;
  cursor: pointer;
}

.AC {
  background-color: #2bc71b;
  border-radius: 1rem;
  width: 1.5rem;
  height: 1.5rem;
}

.BA {
  background-color: #ec573c;
  border-radius: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.NP {
  background-color: #868a86;
  border-radius: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.Selected {
  font-family: 'Arquitecta';
}
