.Container h1 {
  font-family: 'Arquitecta';
  padding-left: 2rem;
  margin-left: 5rem;
}

.HeaderContainer {
  display: flex;
  justify-content: space-between;
}

.ButtonContainer {
  width: 14rem;
  height: 5rem;
}
