@import 'styles/general';

.LogoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -3;
  height: calc(100vh - #{$home-toolbar});
  justify-content: center;
  &Txt {
    width: 50%;
    img {
      width: 100%;
    }
  }
  .Image {
    margin-top: 18vh;
    width: 32%;
    height: auto;
    display: flex;
    place-content: center;
    overflow: hidden;
    background: white;
    border-radius: 30px;
    // border: 1px solid $pr-dark-blue;
    .Image_svg {
      width: 56%;
      overflow: visible;
      stroke: $pr-dark-blue;
      stroke-width: 0.3;
      stroke-linejoin: round;
      stroke-linecap: round;
    }
  }
}

.Intro {
  display: flex;
  min-height: 60vh;
  background-color: $background-gray;
  padding: 1%;
  justify-content: space-around;
  &Info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 100%;
    padding: 2rem;
    font-size: 1.7em;
  }
  &Photo{
    width: 50%;
    z-index: 0;
    display: flex;
    align-items: center;
    // border: 1px solid $dark-gray;
    img {
      width: 100%;
      border-radius: .4rem;
    }
  }
  &Icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    &_card {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      text-align: center;
      img {
        width: 80%;
      }
    }
  }
  &.First {
    margin-top: 100vh;
    box-shadow: 2px -2px 5px 1px $borderGray;
  }
}

.Phrase {
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7em;
  text-align: center;
  padding: 4rem;
  background-color: white;
  &.Back {
    background-image: url('../../../assets/photos/logoFondo.svg');
    background-position: 160% 0%;
    background-repeat: no-repeat;
  }
  &.Long {
    &> div {
      max-width: 80rem;
    }
  }
  p,
  &> div {
    max-width: 60rem;
    &.Long {
      max-width: 80rem;
    }
  }
}
