@import 'styles/general';

.LogoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &Txt {
    width: 50%;
    img {
      width: 100%;
    }
  }
  .Image {
    margin-top: 18vh;
    width: 32%;
    height: auto;
    display: flex;
    place-content: center;
    overflow: hidden;
    background: white;
    border-radius: 30px;
    // border: 1px solid $pr-dark-blue;
    .Image_svg {
      width: 56%;
      overflow: visible;
      stroke: $pr-dark-blue;
      stroke-width: 0.3;
      stroke-linejoin: round;
      stroke-linecap: round;
    }
  }
}
