.Green {
  background-color: #2bc71b;
  border-radius: 1rem;
  width: 1.5rem;
  height: 1.5rem;
}

.Red {
  background-color: #ec573c;
  border-radius: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.Gray {
  background-color: #868a86;
  border-radius: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}
